{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>На данной страницы отображаются все созданные сниппеты.</p>
<!--                <p>Пока тут просто пример, но скоро заменим реальными сниппетами из БД!</p>-->
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form method="GET">
                    <input type="hidden" name="filter" value="{{ filter }}">
                    <select name="lang" id="id_lang">
                        <option value="py" {% if lang == 'py' %} selected {% endif %}>python</option>
                        <option value="js" {% if lang == 'js' %} selected {% endif %}>javascript</option>
                        <option value="cpp" {% if lang == 'cpp' %} selected {% endif %}>C++</option>
                    </select>
                    <button type="submit">Применить</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">
                            <a href="?sort={{ sort }}"> Название</a>
                            {% if sort == 'name' %}
                                <i class="fa-solid fa-sort-up">
                            {% elif sort == '-name' %}
                                <i class="fa-solid fa-sort-down">
                            {% endif %}
                        </th>
                        <th scope="col"></th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Автор</th>
                        <th scope="col">Язык</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for snippet in snippets %}
                    <tr>
                        <td scope="row">{{ snippet.id }}</td>
                        <td><a href="/snippets/{{ snippet.id }}">{{ snippet.name }}</a></td>
                        <td>
                            {% if request.user.is_authenticated and request.user == snippet.user %}
                            <a href="{% url 'snippet-edit' snippet.id %}">
                            <i class="fa-solid fa-pen"></i>
                            </a>
                            <a href="{% url 'snippet-delete' snippet.id %}">
                            <i class="fa-solid fa-trash"></i>
                            </a>
                            {% endif %}
                        </td>
                        <td>{{ snippet.creation_date }}</td>
                        <td>{{ snippet.user.username|default:"Anonymous" }}</td>
                        <td>{{ snippet.lang }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div align="right">
                    <i style="color: gray;">Всего сниппетов: {{ snippets|length }}</i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

